/* colors: Hex: 354649 / 6C7A89 / A3C6C4 / E0E7E9 */


html {
    box-sizing: border-box;
    padding: 0;
    
    font-size: 62.5%;
}
body {
    background-color: #e0e7e9;
    font-family: 'Roboto Mono', monospace;
}

header {
    display: flex;
    background-color: #354649;
    color: #e0e7e9;
    
}

.name {
    margin: auto 0;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: #0000;
}

.joe {
    justify-content: flex-end;
    margin-left: auto;
    border-radius: 12%;
    
    
}

.jumbo1 {
    margin-top: 1rem;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixlib=rb-1.2.1&auto=format&fit=crop&w=1439&q=80);
    color: #e0e7e9;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: rgb(25, 0, 255) 1px 0 10px;
}

.jumbo2 {
    margin-top: 1rem;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    color: #e0e7e9;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: rgb(25, 0, 255) 1px 0 10px;
}

.panel-color {
    background-color: #a3c6c4
}

.panel-color2 {
    background-color: #a3c6c4
}



.musicpic {
    height: 10rem;
    width: 10rem;
    float: left;
    border-radius: 12%;
    padding: .5rem;
}

hr {
    overflow: visible; 
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.aboutme-header {
    text-align: center;
    margin-bottom: 10rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 400;
}

.hobbies-header{
    text-align: center;
    margin-bottom: 10rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 400;
}

